* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn_home {
  z-index: 31;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  position: absolute;
}

@font-face {
  font-family: "S-CoreDream-5";
  src: url("../assets/font/SCDream5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .bg {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}
body .bg img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body .click_box, body .box_frame {
  width: 31.7vw;
  height: 84.6vh;
  position: absolute;
  top: 7.6vh;
  left: 11.7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .click_box .box1_c, body .click_box .box2_c, body .click_box .box3_c, body .click_box .box4_c, body .box_frame .box1_c, body .box_frame .box2_c, body .box_frame .box3_c, body .box_frame .box4_c {
  width: 15vw;
  height: 40.8vh;
  z-index: 5;
  cursor: pointer;
}
body .click_box .f1, body .click_box .f2, body .click_box .f3, body .click_box .f4, body .box_frame .f1, body .box_frame .f2, body .box_frame .f3, body .box_frame .f4 {
  width: 15vw;
  height: 40.8vh;
  z-index: 3;
}
body .click_box .f1 img, body .click_box .f2 img, body .click_box .f3 img, body .click_box .f4 img, body .box_frame .f1 img, body .box_frame .f2 img, body .box_frame .f3 img, body .box_frame .f4 img {
  width: 100%;
  height: 100%;
}
body .select_box {
  width: 31.7vw;
  height: 84.6vh;
  position: absolute;
  top: 7.6vh;
  left: 11.7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .select_box .no {
  width: 15vw;
  height: 40.8vh;
  visibility: hidden;
}
body .select_box .no .check {
  visibility: hidden;
}
body .select_box .select {
  z-index: 3;
  width: 15vw;
  height: 40.8vh;
  border-style: solid;
  border-width: 0.7vh;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: #262261;
}
body .select_box .select .check {
  width: 4vh;
  height: 4vh;
  top: 0px;
  left: 0px;
  margin-top: 1vw;
  margin-left: 11vw;
}
body .select_box .select .check img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .box {
  width: 31.7vw;
  height: 84.6vh;
  position: absolute;
  top: 7.6vh;
  left: 11.7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .box .box1, body .box .box2, body .box .box3, body .box .box4 {
  width: 15vw;
  height: 40.8vh;
  background-color: white;
}
body .box .box1 img, body .box .box2 img, body .box .box3 img, body .box .box4 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body .photo {
  width: 27.5vw;
  height: 75.3vh;
  top: 7.5vh;
  left: 58.7vw;
  background-color: white;
  position: absolute;
}
body .photo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body .photo_frame {
  width: 27.5vw;
  height: 75.3vh;
  top: 7.5vh;
  left: 58.7vw;
  position: absolute;
}
body .photo_frame .f1_n, body .photo_frame .f2_n, body .photo_frame .f3_n, body .photo_frame .f4_n {
  visibility: hidden;
}
body .photo_frame .f_y {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}
body .photo_frame .f_y img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body .btn {
  width: 22.2vw;
  height: 10vh;
  position: absolute;
  top: 85.6vh;
  left: 61.6vw;
}
body .btn img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body .click {
  width: 22.2vw;
  height: 10vh;
  position: absolute;
  top: 85.6vh;
  left: 61.6vw;
  z-index: 5;
  cursor: pointer;
}

/*# sourceMappingURL=finish.css.map */
