<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/finish.css">
    <script defer src="scripts/finish.js"></script>	
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <img src="assets/img/backGround2 1.png" alt="">
    </div>

    <div class="box">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
    </div>

    <div class="box_frame">
        <div class="f1"></div>
        <div class="f2"></div>
        <div class="f3"></div>
        <div class="f4"></div>
    </div>

    <div class="select_box">
        <div class="no" id="box1">
            <div class="no_check" id="box1_sub">
                <img src="assets/img/Check_round_fill.png" alt="">
            </div>
        </div>
        <div class="no" id="box2">
            <div class="no_check" id="box2_sub">
                <img src="assets/img/Check_round_fill.png" alt="">
            </div>
        </div>
        <div class="no" id="box3">
            <div class="no_check" id="box3_sub">
                <img src="assets/img/Check_round_fill.png" alt="">
            </div>
        </div>
        <div class="no" id="box4">
            <div class="no_check" id="box4_sub">
                <img src="assets/img/Check_round_fill.png" alt="">
            </div>
        </div>
    </div>

    <div class="click_box">
        <div class="box1_c"></div>
        <div class="box2_c"></div>
        <div class="box3_c"></div>
        <div class="box4_c"></div>
    </div>

    <div class="photo">
        <!-- <img src="" alt=""> -->
    </div>
    <div class="btn">
        <img src="assets/img/Group 27-2.png" alt="">
    </div>
    <div class="click"></div>
</body>
</html>