@charset 'UTF-8';
@import "reset";
body{
    width: 100%;
    height: 100%;
    overflow: hidden;

    .bg {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .text {
        width: 100%;
        height: 5vh;
        top:7.3vh;
        left: 0px;
        position: absolute;
        text-align: center;

        p {
            text-align: center;
            font-family:  'S-CoreDream-5';
            color: #333333;
            font-size: 5vh;
            font-weight: 300;
        }
    }

    .click_box {
        width: 59.6vw;
        height: 65.3vh;
        top: 17vh;
        left: 20.2vw;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        z-index: 5;
        
        .box1_c, .box2_c, .box3_c, .box4_c {
            width: 29.1vw;
            height: 31vh;
            cursor: pointer;
        }
    }

    .select_box {
        width: 59.6vw;
        height: 65.3vh;
        top: 17vh;
        left: 20.2vw;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        z-index: 3;

        .no {
            width: 29.1vw;
            height: 31vh;
            visibility: hidden;

            .check {
                visibility: hidden;
            }
        }

        .ck_1, .ck_2, .ck_3, .ck_4 {
            z-index: 3;
            width: 29.1vw;
            height: 31vh;
            border-style: solid;
            border-width: 0.7vh;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-color: #262261;

            .check {
                width: 4vh;
                height: 4vh;
                top:0px;
                left: 0px;
                margin-top: 1vw;
                margin-left: 25.1vw;
            }
        }

        // .select {
        //     z-index: 3;
        //     width: 59.6vw;
        //     height: 65.3vh;
        //     top: 17vh;
        //     left: 20.2vw;
        //     position: absolute;
        //     display: flex;
        //     justify-content: space-evenly;
        //     flex-wrap: wrap;
        //     border-style: solid;
        //     border-width: 0.7vh;
        //     background-color: rgba($color: #000000, $alpha: 0.2);
        //     border-color: #262261;

        //     .check {
        //         width: 4vh;
        //         height: 4vh;
        //         top:0px;
        //         left: 0px;
        //         margin-top: 1vw;
        //         margin-left: 18vw;

        //         img {
        //             width: 100%;
        //             height: 100%;
        //             object-fit: contain;
        //         }
        //     }
        // }
    }

    .box {
        width: 59.6vw;
        height: 65.3vh;
        top: 17vh;
        left: 20.2vw;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .box1, .box2, .box3, .box4 {
            width: 29.1vw;
            height: 31vh;
            background-color: white;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .btn {
        // width: 22vw;
        width: 100%;
        height: 10vh;
        top: 85.6vh;
        left: 0px;
        text-align: center;
        position: absolute;

        img {
            width: 22vw;
            height: 100%;
            object-fit: fill;
        }
    }

    .click {
        width: 22vw;
        height: 10vh;
        top: 85.6vh;
        left: 39vw;
        z-index: 5;
        text-align: center;
        position: absolute;
        cursor: pointer;
    }

    .an_click {
        width: 58.9vw;
        height: 45vh;
        top: 27.5vh;
        position: absolute;
        left: 20.55vw;
        z-index: 10;

        .box {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;

            img {
                object-fit: contain;
            }
        }
        .warn {
            width: 9.5vw;
            height: 16.3vh;
            top: 2vh;
            left: 25vw;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .text1 {
            width: 100%;
            height: 100%;
            top: 20.3vh;
            left: 0px;
            position: absolute;

            p {
                text-align: center;
                font-family:  'S-CoreDream-5';
                color: #262261;
                font-size: 6vh;
            }
        }

        .an_click_box {
            width: 100%;
            height: 30%;
            top: 66%;
            left: 0px;
            position: absolute;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;

            .box {
                width: 100%;
                height: 100%;
            }

            img {
                width: 80%;
                height: 90%;
                object-fit: contain;
                position: absolute;
                right: 10%;
            }

            .text123 {
                width: 80%;
                height: 90%;
                position: absolute;
                right: 10%;
                top: 30%;

                p {
                    text-align: center;
                    font-family:  'S-CoreDream-5';
                    color: #262261;
                    font-size: 4vh;
                }
            }
        }

        .off {
            visibility: hidden;
        }
    }

    .back_bg {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #000000;
        opacity: 0.5;
        position: absolute;
    }

    .off {
        visibility: hidden;
    }
}