@charset 'UTF-8';
@import "reset";
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .bg {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .click_box, .box_frame {
        width: 31.7vw;
        height: 84.6vh;
        position: absolute;
        top: 7.6vh;
        left: 11.7vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .box1_c, .box2_c, .box3_c, .box4_c {
            width: 15vw;
            height: 40.8vh;
            z-index: 5;
            cursor: pointer;
        }

        .f1, .f2, .f3, .f4 {
            width: 15vw;
            height: 40.8vh;
            z-index: 3;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .select_box {
        width: 31.7vw;
        height: 84.6vh;
        position: absolute;
        top: 7.6vh;
        left: 11.7vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .no {
            width: 15vw;
            height: 40.8vh;
            visibility: hidden;

            .check {
                visibility: hidden;
            }
        }

        .select {
            z-index: 3;
            width: 15vw;
            height: 40.8vh;
            border-style: solid;
            border-width: 0.7vh;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-color: #262261;
    
            .check {
                width: 4vh;
                height: 4vh;
                top:0px;
                left: 0px;
                margin-top: 1vw;
                margin-left: 11vw;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .box {
        width: 31.7vw;
        height: 84.6vh;
        position: absolute;
        top: 7.6vh;
        left: 11.7vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .box1, .box2, .box3, .box4 {
            width: 15vw;
            height: 40.8vh;
            background-color: white;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }

    .photo {
        width: 27.5vw;
        height: 75.3vh;
        top: 7.5vh;
        left: 58.7vw;
        background-color: white;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .btn {
        width: 22.2vw;
        height: 10vh;
        position: absolute;
        top: 85.6vh;
        left: 61.6vw;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .click {
        width: 22.2vw;
        height: 10vh;
        position: absolute;
        top: 85.6vh;
        left: 61.6vw;
        z-index: 5;
        cursor: pointer;
    }
}
