@charset 'UTF-8';
@import "reset";
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .intro {
        width: 100%;
        height: 100%;
        top: 16vh;
        left: 0px;
        position: absolute;
        text-align: center;

        img {
            object-fit: contain;
        }
    }

    .box {
        width: 100vw;
        height: 17vh;
        top: 39vh;
        left: 16vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        .img1, .img2, .img3 {
            width: 27.5vw;
            height: 100%;
            position: absolute;
            img {
                object-fit: fill;
            }
        }

        .n1, .n2 {
            top: 10vh;
            width: 4vw;
            height: 7vh;
            position: absolute;
            img {
                object-fit: fill;
            }
        }

        .img1 {
            right: 70vw;
        }

        .n1 {
            right: 75vw;
        }

        .img2 {
            right: 46vw;
        }

        .n2 {
            right: 51.5vw;
        }

        .img3 {
            right: 22.5vw;
        }
    }

    .click {
        width: 30vw;
        height: 15vh;
        top: 76.5vh;
        left: 35vw;
        position: absolute;
        z-index: 5;
        cursor: pointer;
    }

    .text {
        width: 100vw;
        height: 15vh;
        top: 76.5vh;
        left: 0vh;
        position: absolute;
        // text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            font-family:  'S-CoreDream-5';
            font-weight: 600;
            font-size: 6vh;
            line-height: 6vh;
        }
    }

    .btn {
        width: 100vw;
        height: 15vh;
        top: 76.5vh;
        left: 0vh;
        position: absolute;
        text-align: center;

        .img {
            height: 15vh;
            // position: absolute;
            z-index: 2;
            img {
                object-fit: fill;
            }
        }

    }
}