<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/finish.css">
    <script defer src="scripts/finish.js"></script>	
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <img src="assets/img/backGround2 1.png" alt="">
    </div>

    <div class="box">
        <div class="box1">
            <img src="assets/img/Group 50.png" alt="">
        </div>
        <div class="box2">
            <img src="assets/img/Group 46.png" alt="">
        </div>
        <div class="box3">
            <img src="assets/img/Group 47.png" alt="">
        </div>
        <div class="box4">
            <img src="assets/img/Group 48.png" alt="">
        </div>
    </div>

    <div class="select_box">
        <div class="no" id="box1">
            <div class="no_check" id="box1_sub">
                <img src="assets/img/Group 36.png" alt="">
            </div>
        </div>
        <div class="no" id="box2">
            <div class="no_check" id="box2_sub">
                <img src="assets/img/Group 37.png" alt="">
            </div>
        </div>
        <div class="no" id="box3">
            <div class="no_check" id="box3_sub">
                <img src="assets/img/Group 38.png" alt="">
            </div>
        </div>
        <div class="no" id="box4">
            <div class="no_check" id="box4_sub">
                <img src="assets/img/Group 39.png" alt="">
            </div>
        </div>
    </div>

    <div class="click_box">
        <div class="box1_c"></div>
        <div class="box2_c"></div>
        <div class="box3_c"></div>
        <div class="box4_c"></div>
    </div>

    <div class="photo">
        <img src="assets/photo/convert.jpg" alt="">
    </div>

    <div class="photo_frame">
        <div class="f1_n" id="f1">
            <img src="assets/frame/1L.png" alt="">
        </div>
        <div class="f2_n" id="f2">
            <img src="assets/frame/2L.png" alt="">
        </div>
        <div class="f3_n" id="f3">
            <img src="assets/frame/3L.png" alt="">
        </div>
        <div class="f4_n" id="f4">
            <img src="assets/frame/4L.png" alt="">
        </div>
        <img src="assets/photo/convert.jpg" alt="">
    </div>
    <div class="btn">
        <img src="assets/img/Group 49.png" alt="">
    </div>
    <div class="click"></div>

    <div class="off" id="back"></div>
    <div class="off" id = "an">
        <div class="announce_btn">
            <img src="assets/img/Group 35.png" alt="">
        </div>
        <div class="announce_btn2" id = 'an_btn'>
        </div>
    </div>

    <div class="off" id = "an_click">
        <img src="assets/img/Rectangle 25.png" alt="">
        <div class="warn">
            <img src="assets/img/warn.png" alt="">
        </div>
        <div class="text1">
            <p>프레임을 선택해주세요!</p>
        </div>
        <div class="an_click_box" id = "an_click_box">
            <img src="assets/img/Group 51.png" alt="">
            <div class="text">
                <p>돌아가기</p>
            </div>
        </div>
    </div>
</body>
</html>