<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/intro.css">
    <script defer src="scripts/intro.js"></script>	
    <title>Document</title>
</head>
<body>
    <div class="intro">
        <p>
            2023 HYU ERICA SPRING FESTIVAL
        </p>
    </div>
    <div class="bg">
        <img src="assets/img/Group 29 1.png" alt="">
    </div>
    <div class="text">
        <p>화면을 터치해주세요!</p>
    </div>
    <div class="click_bg"></div>
</body>
</html>